.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.title {
  margin-top: 12px;
  font-size: 16px;
  color: #5555;
  padding-bottom: 6px;
  font-weight: bold;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.input {
  font-size: var(--font-size-tiny);
  height: 3rem;
  padding-left: 1.5rem;
  width: 100%;
  padding-right: 2rem;
  border-radius: 8px;
  background-color: var(--cinza-claro);
  box-sizing: border-box;
  border: 0;
}

.input:focus {
  outline: none;
}

.icon {
  background-color: #eb5b14;
  padding: 0.6rem;
  border-radius: 8px;
  float: right;
  position: relative;
  top: -3.5rem;
  margin-bottom: -3.5rem;
  font-size: 24px;
  color: #fff;
}
