.content {
  position: relative;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.title {
  margin-top: 12px;
  font-size: 16px;
  color: #5555;
  padding-bottom: 6px;
  font-weight: bold;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.input {
  font-size: 14px;
  height: 51px;
  padding-left: 16px;
  width: 430px;
  padding-right: 2rem;
  border-radius: 8px;
  background-color: #f1f3f6;
  border: 0;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.input:focus {
  outline: none;
}

.iconContent {
  justify-content: center;
  align-items: center;
  background-color: #eb5b14;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  position: absolute;
  top: 72%;
  left: 430px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
}
