.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.title {
  margin-top: 12px;
  font-size: 16px;
  color: #5555;
  padding-bottom: 6px;
  font-weight: bold;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.input {
  font-size: var(--font-size-tiny);
  height: 3rem;
  padding-left: 1.5rem;
  width: 30rem;
  padding-right: 2rem;
  border-radius: 8px;
  background-color: var(--cinza-claro);
  border: 0;
}

.input:focus {
  outline: none;
}

.iconContent {
  justify-content: center;
  align-items: center;
  background-color: #eb5b14;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  position: absolute;
  top: 72%;
  left: 430px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
}
