.button {
    height: 3.25rem;
    border-radius: 0.5rem;
    background-color: var(--laranja);
    color: #FFF;
    border: 0;
    padding: 0 7.5rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    
}

.button:not(.disabled):hover {
    opacity: 0.8;
}


.disabled { 
    opacity: 0.6;
    cursor: not-allowed;
}

.secondary {
    color: var(--laranja);
    background-color: var(--branco);
    border: 1px solid var(--laranja);
}



