.button {
  height: 3.25rem;
  border-radius: 0.5rem;
  padding: 0 7.5rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button[data-disabled="true"] {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:not(.disabled):hover {
  opacity: 0.8;
}

.button[data-variant="secondary"] {
  color: var(--laranja);
  background-color: var(--branco);
  border: 1px solid var(--laranja);
}

.button[data-variant="primary"] {
  color: var(--branco);
  background-color: var(--laranja);
  border: 0;
}
