.text[data-size="label"] {
  font-size: var(--font-size-tiny);
}

.text[data-size="body"] {
  font-size: var(--font-size-small);
}

.text[data-size="section"] {
  font-size: var(--font-size-medium);
}

.text[data-size="subtitle"] {
  font-size: var(--font-size-2x-medium);
}

.text[data-size="title1"] {
  font-size: var(--font-size-large);
}

.text[data-size="title2"] {
  font-size: var(--font-size-extra-large);
}

.text[data-size="title3"] {
  font-size: var(--font-size-4x-large);
}

.text[data-weight="bold"] {
  font-weight: bold;
}

.text[data-weight="regular"] {
  font-weight: 400;
}

.text[data-weight="semibold"] {
  font-weight: 600;
}

.text[data-weight="light"] {
  font-weight: lighter;
}

.text[data-color="black"] {
  color: var(--preto);
}

.text[data-color="orange"] {
  color: var(--laranja);
}

.text[data-color="gray"] {
  color: var(--cinza-medio);
}
