.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.5rem;
  margin-left: 3rem;
  justify-content: center;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}

.containerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.card {
  align-items: center;
  justify-content: center;
}

.loadingCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.title {
  font-weight: 600;
  font-size: 24px;
}

.titleContainer {
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.footerArrow {
  cursor: pointer;
  color: var(--laranja);
}

.footerPage {
  margin-left: 1rem;
  margin-right: 1rem;
}

.currentPage {
  color: var(--laranja);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.containerSearch {
 
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 64px;
  margin-right: 2rem;
  border: 2px solid #bdbdbd;
  border-radius: 4px; 
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  gap: 0.75rem; 
}

.icon {
  position: absolute;
  color: #bdbdbd;
  margin-left: 0.5rem;
}

.input {
  margin-left: 2rem;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 0.875rem;
}

