.container {
  margin: 40px;
}

.pageTitle {
  color: var(--laranja);
  font-size: var(--font-size-4x-large);
  font-weight: 600;
}

.sectionTitle {
  color: var(--preto);
  font-size: var(--font-size-large);
  font-weight: 600;
}

.cardsContainer {
  padding-top: 24px;
}

.cards {
  width: 100%;
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 16px;
}