button {
  font-family: inherit;
}

:root {
  --laranja: #eb5b14;
  --branco: #fff;
  --cinza-claro: #555;
  --cinza-medio: #a5a5a5;
  --cinza-escuro: #455a64;
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
}
