.card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 24.45rem;
  height: 14rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 4px 1px #bdbdbd;
  margin-left: 3rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 6px 8px 12px 4px #bdbdbd;
}

.imageContainer {
  display: flex;
  flex: 1;
  height: 100%;
  width: 45%;
}
.descriptionSide {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
}

.title {
  margin-top: 1rem;
  font-weight: 600;
  color: var(--laranja);
}

.description {
  margin-top: 0.5rem;
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.maxCapacity {
  font-size: 16px;
  margin-top: 0.5rem;
  color: var(--laranja);
}

.price {
  position: absolute;
  bottom: 1rem;
  font-size: 16px;
  margin-top: 0.5rem;
  color: var(--laranja);
}

.noImagePlace {
  height: 100%;
  width: 90%;
  background-color: var(--cinza);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}