.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlayText {
  position: absolute;
  top: 5%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eventPhrase {
  font-size: 54px;
  color: #fff;
  font-weight: 500;
}

.eventPhraseBold {
  font-size: 54px;
  color: var(--laranja);
  font-weight: 600;
}

.subtitleContainer {
  display: flex;
  padding-top: 0.5rem;
  justify-content: center;
  align-items: center;
}
.subtitle {
  display: inline;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  max-width: 500px;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.seeAll {
  text-decoration: underline;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--laranja);
}

.cardContainer {
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 30%;
}

.spacesContainter {
  display: flex;
  justify-content: center;
}

.spaces {
  width: 1376px;
}
