.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  justify-content: space-between;
  box-sizing: border-box;
}

.homeInformations {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;

}

.pageContent {
  margin: 2.5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1800px;
}

.homeTitle {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.appDescription {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #1E1E1E;
}

.appFunctionalities {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #A5A5A5;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.planButton {
  margin-top: 40px;
  width: 50%;
  padding: 0;
}


.homeImageCont {
  position: relative;
}

.homeImg {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.blurEffect {
  background-image: linear-gradient(to right, #FFF, rgba(255,255,255,0));
  width: 20%;
  height: 100%;
  position: absolute;
}

.footer {
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
}