.home {
  display: flex;
}

.homeInformations {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.homeTitle {
  font-size: 50px;
  font-weight: 600;
}

.homeTitle span {
  color: var(--laranja);
}

.appDescription {
  font-size: var(--font-size-medium);
  color: #1e1e1e;
}

.appFunctionalities {
  margin: 1.625rem 0;
  font-size: var(--font-size-medium);
  color: var(--cinza-medio);
}

.appFunctionalities span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.appFunctionalities span p {
  margin: 0;
}

.homeImageCont {
  position: relative;
}

.homeImg {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.blurEffect {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  width: 20%;
  height: 100%;
  position: absolute;
}

.login {
  display: flex;
  column-gap: 1.75rem;
}
