.container {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.detailsBox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.card {
  width: 50%;
  height: 10rem;
}

.imageBox {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.infoDetails {
  display: flex;
}

.basicInfo {
  color: var(--cinza-claro);
  font-weight: 400;
}

.list {
  color: var(--laranja);
  font-weight: 400;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subinfoTitle li {
  font-weight: 400;
  color: var(--laranja);
}

.topImage {
  position: relative;
  width: 23.25rem !important;
  height: 31rem !important;
  object-fit: cover !important;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.noImagePlace {
  width: 23.25rem;
  height: 31rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cinza);
}

.bottomImage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.sided {
  width: 10.95rem !important; /* Tamanho das miniaturas */
  height: 10.95rem !important;
  border-radius: 8px;
  object-fit: cover !important;
  position: relative !important;
}

.viewMore {
  border: none;
  background-color: #555;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  height: 10.95rem;
  width: 10.95rem;
  border-radius: 8px;
}

.viewLess {
  border: none;
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  height: 10.95rem;
  width: 10.95rem;
  border-radius: 8px;
  color: var(--laranja);
}

.viewMore:hover,
.viewLess:hover {
  text-decoration: underline;
}

.rightImage {
  flex-direction: flex-start;
  display: flex;
  gap: 1.2rem;
}

.leftImage {
  flex-direction: flex-start;
  display: flex;
  gap: 1.2rem;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.deleteButton {
  display: flex;
  position: absolute;
  padding: 14px;
  border: 0;
  display: flex;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  top: 5.2rem;
  right: 10.75rem;
}

.icon {
  color: var(--laranja);
  font-size: 25px;
}
