.container {
  display: flex;
  gap: 3rem;
}

.detailsBox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.card {
  width: 50%;
  height: 10rem;
}

.imageBox {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.infoDetails {
  display: flex;
}

.basicInfo {
  color: var(--cinza-claro);
  font-weight: 400;
}

.list {
  color: var(--laranja);
  font-weight: 400;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subinfoTitle li {
  font-weight: 400;
  color: var(--laranja);
}

.topImage {
  width: 23.25rem;
  height: 31rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.bottomImage {
  display: flex;
  justify-content: center;
  align-items: ce;
  flex-direction: column;
  gap: 0.8rem;
}

.sided {
  width: 10.95rem; /* Tamanho das miniaturas */
  height: 10.95rem;
  border-radius: 8px;
  object-fit: cover;
}

.viewMore {
  border: none;
  background-color: #555;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  height: 10.95rem;
  width: 10.95rem;
  border-radius: 8px;
}

.viewMore:hover {
  text-decoration: underline;
}

.rightImage {
  flex-direction: flex-start;
  display: flex;
  gap: 1.2rem;
}

.leftImage {
  flex-direction: flex-start;
  display: flex;
  gap: 1.2rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.deleteButton {
  border: 12px solid var(--laranja);
  display: flex;
  background-color: var(--laranja);
  border-radius: 8px;
  cursor: pointer;
}