.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.loadingLabel {
  color: var(--laranja);
  font-size: var(--font-size-medium);
  font-weight: 500;
}
.loadingLabel.white {
  color: var(--branco);
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--laranja);
  color: var(--laranja);
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing.white {
  animation: dot-flashing-white 1s infinite linear alternate;
  animation-delay: 0.5s;
  background-color: var(--branco);
  color: var(--branco);
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--laranja);
  color: var(--laranja);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing.white::before {
  animation: dot-flashing-white 1s infinite alternate;
  animation-delay: 0s;
  background-color: var(--branco);
  color: var(--branco);
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--laranja);
  color: var(--laranja);
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}
.dot-flashing.white::after {
  animation: dot-flashing-white 1s infinite alternate;
  animation-delay: 1s;
  background-color: var(--branco);
  color: var(--branco);
}

@keyframes dot-flashing {
  0% {
    background-color: var(--laranja);
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

@keyframes dot-flashing-white  {
  0% {
    background-color: var(--branco);
  }
  50%, 100% {
    background-color: rgba(104, 104, 104, 0.553);
  }
}