.footer {
  width: 100%;
  display: flex;
  gap: 1rem;
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
  background-color: white;
}

.footer[data-justify="left"] {
  justify-content: left;
}

.footer[data-justify="center"] {
  justify-content: center;
}

.footer[data-justify="right"] {
  justify-content: right;
}

.footer[data-separator="true"] {
  border-top: 1px solid var(--cinza);
}
