.roundedImage {
  border-radius: 50%;
  cursor: pointer;
}

.profileOptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -220%;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 4px rgba(0,0,0,.25);
  padding: 4px;
  gap: 2px;
}

.button {
  border: none;
  background: var(--branco);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-size-small);
  padding: 4px;
  box-sizing: border-box;
}

.button:hover {
  background-color: var(--laranja);
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  border-radius: 8px;
  color: var(--branco);
}